*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    list-style: none;
}
html {
    scroll-behavior: smooth;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 35px 12%;
    background: rgba(0,0,0,0.8);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo {
    font-size: 25px;
    color: white;
    font-weight: 600;
    transition: 0.3s ease;
}
.logo:hover{
    color: orangered;
    text-shadow: 0 0 25px orangered,
                 0 0 25px orangered;
                 transform: scale(1.1);
}
span{
    color: orangered;
}
.navbar a{
    font-size: 15px;
    color: white;
    font-weight: 500;
    margin: 0 15px;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}
.navbar a:hover,
.navbar a:active{
    color: orangered;
    border-bottom: 3px solid orangered;
}
.Contact{
    padding: 10px 20px;
    background-color: white;
    color: black;
    border: 2px transparent;
    border-radius: 8px;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
}
.Contact:hover{
    background-color: orangered;
    box-shadow: 0 0 15px orangered;
color: white;
}
.home{
    width: 100%;
    min-height: 100vh;
    background: rgb(241,241,241);
    display: flex;
    align-items: center;
    gap: 7em;
    padding: 30px 12% 0;
}
.home-content{
    max-width: 800px;
}
.home-content h3{
    font-size: 42px;
}
.home-content h1{
    font-size: 65px;
    line-height: 1.2;
}
.home-content p{
    font-size: 18px;
    margin: 25px 0 30px;
}
.btn-box{
    width: 345px;
    display: flex;
    gap: 2em;
}
.btn-1{
    padding: 15px 38px;
    background-color: orangered;
    color: white;
    border: 2px solid black;
    border-radius: 8px;
    font-size: 18px;
    letter-spacing: 600;
    font-weight: 600;
    transition: 0.3s ease;
    cursor: pointer;
}
.btn-1:hover{
    background-color: white;
   color: black;
   border: 2px solid black;
}
.btn-2{
    padding: 15px 38px;
    background-color: orangered;
    color: white;
    border: 2px solid black;
    border-radius: 8px;
    font-size: 18px;
letter-spacing: 1px;
font-weight: 600;
transition: 0.3s ease;
cursor: pointer;
}
.btn-2:hover{
    background-color: white;
    color: orangered;
}
.img-box img{
    border-radius: 50%;
    width: 500px;
}

::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-thumb{
    background-color: orangered;
}
::-webkit-scrollbar-track{
    background-color: rgba(0, 0, 0, 0.06);
    width: 50px;
}
.header.scrolled {
    background: rgba(0, 0, 0, 0.9); /* Ubah warna latar belakang */
    padding: 20px 12%; /* Kurangi padding agar header lebih ramping saat discroll */
    transition: all 0.3s ease;
}
.portofolio{
    display: flex;
    justify-content: center;
    align-items: center;
    pad: 12% 8%;
    gap: 10em;
    background: black;
}
.porto-img img{
    position: relative;
    width: 500px;
    box-shadow: 0 0 5px orangered,
                0 0 5px orangered;
border-radius: 50%;
}
.porto-content h2{
text-align: left;
color: white;
font-size: 52px;
}
.porto-content h3{
   font-size: 42px;
   color: white;
}
.porto-content h4{
    text-align: left;
    font-size: 42px;
    color: white;
 }
 .porto-content ul li{
     color: white;
     font-size: 20px;
     margin: 2em 0 3em;
 }
 .porto-content a{
     color: white;
     font-size: 20px;
     margin: 2em 0 3em;
 }
.porto-content p{
    color: white;
    font-size: 20px;
    margin: 2em 0 3em;
}


.prestasi {
    padding: 50px;
    background: rgb(241,241,241);
    text-align: left;
}
.prestasi p{
    font-size: 15px;
    color: #333;
    margin-bottom: 20px;
}
.prestasi h2 {
    text-align: center;
    font-size: 36px;
    color: black;
    margin-bottom: 20px;
}

.prestasi ul {
    list-style: none;
    font-size: 20px;
    color: #333;
    padding: 0;
}

.prestasi ul li {
    margin: 10px 0;
    font-weight: 500;
}

.contact-form{
    padding: 50px;
    background: black;
}
.contact-me{
    color: white;
}
.contact-form h2{
    text-align: center;
    margin-top: 3em;
    margin-bottom: 1em;
    font-size: 36px;
}
.contact-form p{
    text-align: center;
    color: white;
    font-size: 20px;
    margin-bottom: 3em;
}
.contact-form form{
    max-width: 50em;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3em;
}
.contact-form form .input-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contact-form form .input-box input,
.contact-form form textarea{
    width: 100%;
    padding: 1.5em;
    font-size: 18px;
    color: black;
    background: rgb(241, 241, 241);
    border-radius: .8rem;
    margin: 1em 0;
resize: none;
}

.footer {
    color: black;
    background: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 50px;
}

.footer p {
    font-size: 18px;
    margin-bottom: 10px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 10px;
}

.social-icons a img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease;
}

.social-icons a img:hover {
    transform: scale(1.2);
}
